Implement  the all the regression problem model and solve the cardekho dataset
1. perform model training and find best model which is good in allregression problem
2. we use hyperparamter tuning that find best regreesion model

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

Load the dataset
1. Perform data cleaning (EDA)
2. Perform Feature enginerring
3. Perform training model
4. Hyperparamter tuning

In [14]:
df=pd.read_csv("cardekho_imputated.csv")
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

Datacleaning

In [15]:
# Clean the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15411 entries, 0 to 15410
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         15411 non-null  int64
 1   car_name           15411 non-null  object
 2   brand              15411 non-null  object
 3   model              15411 non-null  object
 4   vehicle_age        15411 non-null  int64
 5   km_driven          15411 non-null  int64
 6   seller_type        15411 non-null  object
 7   fuel_type          15411 non-null  object
 8   transmission_type  15411 non-null  object
 9   mileage            15411 non-null  float64
 10  engine             15411 non-null  int64
 11  max_power          15411 non-null  float64
 12  seats              15411 non-null  int64
 13  selling_price      15411 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.6+ MB

In [16]:
df.describe()

,Unnamed: 0,vehicle_age,km_driven,mileage,engine,max_power,seats,selling_price
count,15411.000000,15411.000000,1.541100e+04,15411.000000,15411.000000,15411.000000,15411.000000,1.541100e+04
mean,9811.857699,6.036338,5.561648e+04,19.701151,1486.057751,100.588254,5.325482,7.749711e+05
std,5643.418542,3.013291,5.161855e+04,4.171265,521.106696,42.972979,0.807628,8.941284e+05
min,0.000000,0.000000,1.000000e+02,4.000000,793.000000,38.400000,0.000000,4.000000e+04
25%,4906.500000,4.000000,3.000000e+04,17.000000,1197.000000,74.000000,5.000000,3.850000e+05
50%,9872.000000,6.000000,5.000000e+04,19.670000,1248.000000,88.500000,5.000000,5.560000e+05
75%,14668.500000,8.000000,7.000000e+04,22.700000,1582.000000,117.300000,5.000000,8.250000e+05
max,19543.000000,29.000000,3.800000e+06,33.540000,6592.000000,626.000000,9.000000,3.950000e+07

Handle the missing values

In [17]:
df.isna().sum()
# it show they are no missing values

Unnamed: 0           0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

Feature Enginerring

In [18]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [19]:
df.columns

Index(['Unnamed: 0', 'car_name', 'brand', 'model', 'vehicle_age', 'km_driven',
       'seller_type', 'fuel_type', 'transmission_type', 'mileage', 'engine',
       'max_power', 'seats', 'selling_price'],
      dtype='object')

In [20]:
# Drop the columns
df.drop('Unnamed: 0',axis=1,inplace=True)

In [24]:
#  drop the columns
df.drop(['car_name', 'brand'],axis=1,inplace=True)

In [25]:
# Seen the numerical and categorical data
numerical_ferature=[feature for feature in df.columns if df[feature].dtype!="object"]
categorical_feature=[feature for feature in df.columns if df[feature].dtype=='object']
print("categorical_feature",len(categorical_feature))
print('numerical_ferature',len(numerical_ferature))

categorical_feature 4
numerical_ferature 7

Split the data

In [37]:
#  split the data into dependent event aur independent event
X=df.drop(['selling_price'],axis=1)
y=df['selling_price']

In [38]:
# Label encoding
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
X["model"]=label.fit_transform(X["model"])

In [39]:
# Train to split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [40]:
X_train.shape,X_test.shape

((12328, 10), (3083, 10))

Transform the catgorical columns

In [41]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [44]:
# use onehotencoding labelencoding and standardscaler
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer


cat_feature=['seller_type','fuel_type','transmission_type']
num_feature=X.select_dtypes(exclude=object).columns

# create the object of the  encoder
one_hot_encoder=OneHotEncoder(drop='first')
Standard_Scaler=StandardScaler()


Transform=ColumnTransformer([
    ("Onehotencoding",one_hot_encoder,cat_feature),
    ("Standardscaler",Standard_Scaler,num_feature)
],remainder="passthrough")

Transform the coloums

In [45]:
# encoding perform
X_train=Transform.fit_transform(X_train)
X_test=Transform.transform(X_test)

In [48]:
X_train=pd.DataFrame(X_train)
X_test=pd.DataFrame(X_test)

Train the model

In [49]:
#  import all the regression model
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
# Evalution metries
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [59]:
# function of Evaluation metrix
def Evaluation(true,prediction):
    metrix_dic={
        "mean_squared_error":mean_squared_error(true,prediction),
        'mean_absolute_error':mean_absolute_error(true,prediction),
        'r2_score':r2_score(true,prediction),
        'Root mean square':np.sqrt(mean_squared_error(true,prediction))
    }
    return metrix_dic

In [60]:
# create the object of the models
model={
    'Linear_Regression':LinearRegression(),
    'Lasso_regression':Lasso(),
    'Ridge_regression':Ridge(),
    'Knn_regression':KNeighborsRegressor(),
    'tree_regression':DecisionTreeRegressor(),
    'Random_forest_regression':RandomForestRegressor(),
    'Adaboost_regression':AdaBoostRegressor(),
    'Gradient_regression':GradientBoostingRegressor()
}

In [64]:
# Make the prediction
for model_name,model_model in model.items():
    model_model.fit(X_train,y_train)

    # make the prediction;
    y_train_pred=model_model.predict(X_train)
    y_test_pred=model_model.predict(X_test)

    # evlauate the metrices
    print("Model name ---",model_name)
    print("Training Evlauation")
    print('\n')
    result=Evaluation(y_train,y_train_pred)
    for result_key,result_values in result.items():
        print(f"{result_key}:\n {result_values}")
    print("\n")
    print("Testing Evlauation")
    print('\n')
    result=Evaluation(y_test,y_test_pred)
    for result_key,result_values in result.items():
        print(f"{result_key}:{result_values}")
    print("-"*70)

Model name --- Linear_Regression
Training Evlauation


mean_squared_error:
 306756099359.75964
mean_absolute_error:
 268101.60708299355
r2_score:
 0.6217719576765959
Root mean square:
 553855.6665411664


Testing Evlauation


mean_squared_error:252550062888.56555
mean_absolute_error:279618.57941584266
r2_score:0.6645109298852006
Root mean square:502543.5930230984
----------------------------------------------------------------------
Model name --- Lasso_regression
Training Evlauation


mean_squared_error:
 306756104247.9568
mean_absolute_error:
 268099.2286254692
r2_score:
 0.6217719516494844
Root mean square:
 553855.6709540463


Testing Evlauation


mean_squared_error:252549201754.48557
mean_absolute_error:279614.75674572523
r2_score:0.664512073821054
Root mean square:502542.7362468644
----------------------------------------------------------------------
Model name --- Ridge_regression
Training Evlauation


mean_squared_error:
 306756818582.05347
mean_absolute_error:
 268060.0140124648
r2_score:
 0.6217710708807318
Root mean square:
 553856.3158275379


Testing Evlauation


mean_squared_error:252540889637.0189
mean_absolute_error:279557.4540451934
r2_score:0.664523115689457
Root mean square:502534.466118513
----------------------------------------------------------------------
Model name --- Knn_regression
Training Evlauation


mean_squared_error:
 103356587611.94029
mean_absolute_error:
 92496.04153147306
r2_score:
 0.8725620782267003
Root mean square:
 321491.19367712125


Testing Evlauation


mean_squared_error:66462739687.195915
mean_absolute_error:112986.61206616931
r2_score:0.9117104843296838
Root mean square:257803.68439414498
----------------------------------------------------------------------
Model name --- tree_regression
Training Evlauation


mean_squared_error:
 432524990.53644824
mean_absolute_error:
 5164.819922128488
r2_score:
 0.9994666998284044
Root mean square:
 20797.23516567643


Testing Evlauation


mean_squared_error:90399576745.88695
mean_absolute_error:123402.54892420802
r2_score:0.8799126415001887
Root mean square:300665.2237055143
----------------------------------------------------------------------
Model name --- Random_forest_regression
Training Evlauation


mean_squared_error:
 18167008029.335594
mean_absolute_error:
 39888.86169045372
r2_score:
 0.9776002110596972
Root mean square:
 134785.04378949318


Testing Evlauation


mean_squared_error:53988712167.8465
mean_absolute_error:102659.3554661812
r2_score:0.9282810598630564
Root mean square:232354.71195533455
----------------------------------------------------------------------
Model name --- Adaboost_regression
Training Evlauation


mean_squared_error:
 232120551661.54898
mean_absolute_error:
 380686.9152361652
r2_score:
 0.713797045857556
Root mean square:
 481788.907781768


Testing Evlauation


mean_squared_error:261840280750.41107
mean_absolute_error:399594.08259856125
r2_score:0.652169746850098
Root mean square:511703.3132103124
----------------------------------------------------------------------
Model name --- Gradient_regression
Training Evlauation


mean_squared_error:
 42002252335.70902
mean_absolute_error:
 111709.55583715507
r2_score:
 0.9482115279622282
Root mean square:
 204944.51038197882


Testing Evlauation


mean_squared_error:64571319827.65496
mean_absolute_error:125943.7419435285
r2_score:0.9142230582036173
Root mean square:254108.87396479282
----------------------------------------------------------------------

Hyperparamter tuning

In [65]:
# Linear regression
Linear_param_dist = {
    'fit_intercept': [True, False],
    'copy_X': [True, False],
    'positive': [True, False],
    'n_jobs': [-1, None]
}
# Lasso regression
Lasso_param_dist = {
    'alpha': [0.0001, 0.001, 0.01, 0.1, 1, 5, 10],
    'fit_intercept': [True, False],
    'max_iter': [500, 1000, 2000, 5000],
    'selection': ['cyclic', 'random'],
    'positive': [True, False]
}
# Ridge regression
Ridge_param_dist = {
    'alpha': [0.0001, 0.001, 0.01, 0.1, 1, 5, 10, 100],
    'fit_intercept': [True, False],
    'solver': ['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga'],
    'max_iter': [None, 500, 1000, 2000],
    'positive': [True, False]
}

# knn regrerssion
Knn_param_dist = {
    'n_neighbors': [1, 2, 3, 4, 5, 7, 10, 15, 20, 30, 40, 50],
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    'p': [1, 2],
    'leaf_size': [10, 20, 30, 40, 50],
    'metric': ['minkowski', 'euclidean', 'manhattan']
}

# Decision tree regression

Tree_param_dist = {
    'criterion': ['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],
    'splitter': ['best', 'random'],
    'max_depth': [None, 5, 10, 20, 30, 50],
    'min_samples_split': [2, 5, 10, 15],
    'min_samples_leaf': [1, 2, 4, 6, 8],
    'max_features': [None, 'sqrt', 'log2']
}

# Random forest resgression
RandomForest_param_dist = {
    'n_estimators': [50, 100, 150, 200, 300, 400],
    'criterion': ['squared_error', 'absolute_error', 'friedman_mse', 'poisson'],
    'max_depth': [None, 5, 10, 20, 30, 50],
    'min_samples_split': [2, 5, 10, 15],
    'min_samples_leaf': [1, 2, 4, 6],
    'max_features': ['sqrt', 'log2', None],
    'bootstrap': [True, False],
    'n_jobs': [-1]
}
# Adaboost regression
Adaboost_param_dist = {
    'n_estimators': [50, 100, 150, 200, 300, 400, 500],
    'learning_rate': [0.01, 0.05, 0.1, 0.2, 0.5, 1.0, 1.5],
    'loss': ['linear', 'square', 'exponential']
}
# Gradient Boosting regression
Gradient_param_dist = {
    'n_estimators': [50, 100, 150, 200, 300, 400],
    'learning_rate': [0.01, 0.05, 0.1, 0.2, 0.3, 0.5, 1.0],
    'max_depth': [2, 3, 4, 5, 6],
    'min_samples_split': [2, 3, 5, 7, 10],
    'min_samples_leaf': [1, 2, 3, 4, 5],
    'subsample': [0.6, 0.7, 0.8, 0.9, 1.0],
    'max_features': ['sqrt', 'log2', None],
    'loss': ['squared_error', 'absolute_error', 'huber', 'quantile'],
    'criterion': ['friedman_mse', 'squared_error']
}

In [66]:
# create the list of the paramter

hyper_paramter=[
    ("LinearRegression",LinearRegression(),Linear_param_dist),
    ("Lasso",Lasso(),Lasso_param_dist),
    ("Ridge",Ridge(),Ridge_param_dist),
    ('KNeighborsRegressor',KNeighborsRegressor(),Knn_param_dist),
    ('DecisionTreeRegressor',DecisionTreeRegressor(),Tree_param_dist),
    ("RandomForestRegressor",RandomForestRegressor(),RandomForest_param_dist),
    ("AdaBoostRegressor",AdaBoostRegressor(),Adaboost_param_dist),
    ("GradientBoostingRegressor",GradientBoostingRegressor(),Gradient_param_dist)
]

Hyperparamter tuning using randomsearchcv

In [68]:
# randomSearchcv
from sklearn.model_selection import RandomizedSearchCV
model_param={}

for model_name1,model_model1,params in hyper_paramter:
    random=RandomizedSearchCV(estimator=model_model1,param_distributions=params,
                              cv=5,
                              verbose=2,
                              scoring='neg_root_mean_squared_error'
                              ,n_jobs=-1)
    
    # Train the model
    random.fit(X_train,y_train)

    # best param
    model_param[model_name1]=random.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Fitting 5 folds for each of 10 candidates, totalling 50 fits
Fitting 5 folds for each of 10 candidates, totalling 50 fits
Fitting 5 folds for each of 10 candidates, totalling 50 fits
Fitting 5 folds for each of 10 candidates, totalling 50 fits
Fitting 5 folds for each of 10 candidates, totalling 50 fits
Fitting 5 folds for each of 10 candidates, totalling 50 fits
Fitting 5 folds for each of 10 candidates, totalling 50 fits

In [69]:
# print the best param
for Param_model_name,param_value in model_param.items():
    print(F'-------------------------Best Parameters for {Param_model_name}-------------')
    print(param_value)

-------------------------Best Parameters for LinearRegression-------------
{'positive': False, 'n_jobs': -1, 'fit_intercept': True, 'copy_X': False}
-------------------------Best Parameters for Lasso-------------
{'selection': 'cyclic', 'positive': False, 'max_iter': 5000, 'fit_intercept': True, 'alpha': 0.001}
-------------------------Best Parameters for Ridge-------------
{'solver': 'svd', 'positive': False, 'max_iter': 500, 'fit_intercept': True, 'alpha': 0.0001}
-------------------------Best Parameters for KNeighborsRegressor-------------
{'weights': 'distance', 'p': 2, 'n_neighbors': 7, 'metric': 'manhattan', 'leaf_size': 40, 'algorithm': 'ball_tree'}
-------------------------Best Parameters for DecisionTreeRegressor-------------
{'splitter': 'best', 'min_samples_split': 2, 'min_samples_leaf': 8, 'max_features': None, 'max_depth': 30, 'criterion': 'squared_error'}
-------------------------Best Parameters for RandomForestRegressor-------------
{'n_jobs': -1, 'n_estimators': 400, 'min_samples_split': 10, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': 50, 'criterion': 'friedman_mse', 'bootstrap': False}
-------------------------Best Parameters for AdaBoostRegressor-------------
{'n_estimators': 100, 'loss': 'square', 'learning_rate': 0.05}
-------------------------Best Parameters for GradientBoostingRegressor-------------
{'subsample': 1.0, 'n_estimators': 300, 'min_samples_split': 7, 'min_samples_leaf': 5, 'max_features': None, 'max_depth': 4, 'loss': 'huber', 'learning_rate': 1.0, 'criterion': 'friedman_mse'}

Retrain the model

In [70]:
# Create all model in one dic with tuned paramter
Retrain_model={
    "LinearRegression":LinearRegression(positive= False, n_jobs= -1, fit_intercept= True, copy_X=False),
    "Lasso":Lasso(selection= 'cyclic',
                   positive=False, max_iter= 5000, fit_intercept=True, alpha=0.001),
    "Ridge":Ridge(solver= 'svd', positive= False,
                   max_iter=500, fit_intercept=True, alpha= 0.0001),
    "KNeighborsRegressor":KNeighborsRegressor(weights='distance', p= 2, n_neighbors= 7,
                                               metric= 'manhattan', leaf_size= 40, 
                                               algorithm= 'ball_tree'),
    "DecisionTreeRegressor":DecisionTreeRegressor(splitter='best',
                                                   min_samples_split=2,
                                                   min_samples_leaf= 8, 
                                                   max_features= None,
                                                   max_depth= 30, 
                                                   criterion= 'squared_error'),
    "RandomForestRegressor":RandomForestRegressor(n_jobs= -1,
                                                   n_estimators=400, 
                                                   min_samples_split= 10,
                                                     min_samples_leaf=1,
                                                       max_features= 'sqrt',
                                                         max_depth= 50, 
                                                         criterion= 'friedman_mse',
                                                   bootstrap= False) ,
    "AdaBoostRegressor":AdaBoostRegressor(n_estimators= 100,
                                           loss= 'square', 
                                           learning_rate= 0.05)  ,
    GradientBoostingRegressor:GradientBoostingRegressor(subsample= 1.0,
                                                         n_estimators= 300,
                                                           min_samples_split= 7,
                                                             min_samples_leaf= 5,
                                                               max_features= None,
                                                                 max_depth= 4,
                                                                   loss= 'huber',
                                                                     learning_rate= 1.0,
                                                         criterion= 'friedman_mse')                                     
}

In [71]:
# Make the prediction
for model_name,model_model in model.items():
    model_model.fit(X_train,y_train)

    # make the prediction;
    y_train_pred=model_model.predict(X_train)
    y_test_pred=model_model.predict(X_test)

    # evlauate the metrices
    print("Model name ---",model_name)
    print("Training Evlauation")
    print('\n')
    result=Evaluation(y_train,y_train_pred)
    for result_key,result_values in result.items():
        print(f"{result_key}:\n {result_values}")
    print("\n")
    print("Testing Evlauation")
    print('\n')
    result=Evaluation(y_test,y_test_pred)
    for result_key,result_values in result.items():
        print(f"{result_key}:{result_values}")
    print("-"*70)

Model name --- Linear_Regression
Training Evlauation


mean_squared_error:
 306756099359.7596
mean_absolute_error:
 268101.60708299343
r2_score:
 0.6217719576765959
Root mean square:
 553855.6665411663


Testing Evlauation


mean_squared_error:295251098998.23145
mean_absolute_error:328753.56331958924
r2_score:0.6077866086416484
Root mean square:543370.1307564039
----------------------------------------------------------------------
Model name --- Lasso_regression
Training Evlauation


mean_squared_error:
 306756104247.9568
mean_absolute_error:
 268099.2286254692
r2_score:
 0.6217719516494844
Root mean square:
 553855.6709540463


Testing Evlauation


mean_squared_error:295200960069.47504
mean_absolute_error:328692.2757649837
r2_score:0.6078532135056214
Root mean square:543323.9918036705
----------------------------------------------------------------------
Model name --- Ridge_regression
Training Evlauation


mean_squared_error:
 306756818582.05347
mean_absolute_error:
 268060.0140124648
r2_score:
 0.6217710708807318
Root mean square:
 553856.3158275379


Testing Evlauation


mean_squared_error:295258262377.428
mean_absolute_error:328752.2651526972
r2_score:0.6077770927642892
Root mean square:543376.7223367486
----------------------------------------------------------------------
Model name --- Knn_regression
Training Evlauation


mean_squared_error:
 103342317569.7599
mean_absolute_error:
 92487.0700843608
r2_score:
 0.8725796730850554
Root mean square:
 321468.9993914808


Testing Evlauation


mean_squared_error:84659526323.58904
mean_absolute_error:122608.14952967888
r2_score:0.887537760086829
Root mean square:290963.1013094084
----------------------------------------------------------------------
Model name --- tree_regression
Training Evlauation


mean_squared_error:
 432524990.53644824
mean_absolute_error:
 5164.819922128488
r2_score:
 0.9994666998284044
Root mean square:
 20797.23516567643


Testing Evlauation


mean_squared_error:148891431714.4421
mean_absolute_error:144483.6387717591
r2_score:0.8022116985336892
Root mean square:385864.52507899987
----------------------------------------------------------------------
Model name --- Random_forest_regression
Training Evlauation


mean_squared_error:
 14264775121.621311
mean_absolute_error:
 39677.98917676887
r2_score:
 0.9824116358902228
Root mean square:
 119435.23400413008


Testing Evlauation


mean_squared_error:51823180432.82364
mean_absolute_error:105010.78496821233
r2_score:0.931157765652702
Root mean square:227647.05232623513
----------------------------------------------------------------------
Model name --- Adaboost_regression
Training Evlauation


mean_squared_error:
 174085617318.9485
mean_absolute_error:
 276482.95874105906
r2_score:
 0.7853536983530811
Root mean square:
 417235.68557704706


Testing Evlauation


mean_squared_error:197586431774.0391
mean_absolute_error:294600.01789437403
r2_score:0.7375249583983576
Root mean square:444506.95357220125
----------------------------------------------------------------------
Model name --- Gradient_regression
Training Evlauation


mean_squared_error:
 42002252335.709015
mean_absolute_error:
 111709.55583715503
r2_score:
 0.9482115279622282
Root mean square:
 204944.5103819788


Testing Evlauation


mean_squared_error:72175702542.84297
mean_absolute_error:130184.4237320306
r2_score:0.9041213490346073
Root mean square:268655.3601602674
----------------------------------------------------------------------